:root {
    --primary: #24b4a5;
    --secondary: #8fedc2;
    --tertiary: #fdd741;
    --light: #f4f3ed;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-tap-highlight-color: transparent; /* disable tap highlighting */
    -webkit-touch-callout: none; /* disable callouts */
    padding-top: 57px; /* header height */
    padding-bottom: 100px; /* tab-bar height */
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
}

input {
    -webkit-appearance: none;
    font-size: 1rem;
    font-weight: 400;
}

input:focus {
    outline: 0;
}

img {
    max-width: 100%;
}

a.active {
    font-weight: 600;
}

.text-gradient {
    background: linear-gradient(90deg, var(--primary), var(--tertiary));
    background: -webkit-linear-gradient(90deg, var(--primary), var(--tertiary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-gradient {
    color: #fff;
    background: linear-gradient(0deg, var(--secondary), var(--tertiary));
    background: -webkit-linear-gradient(0deg, var(--secondary), var(--tertiary));
    border: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, .08);
}

.btn-gradient:hover {
    color: #fff;
    background: linear-gradient(0deg, var(--primary), var(--secondary));
    background: -webkit-linear-gradient(0deg, var(--primary), var(--secondary));
}

.status-bar {
    /*display: none !important;*/
    position: sticky;
    top: 0;
    line-height: 1;
    background-color: #eee;
}

.status-bar,
.status-bar i {
    font-size: 15px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #aaa;
    z-index: 10;
}

.card {
    border-radius: .5rem;
}

.card-image-container {
    position: relative;
    width: 116px;
}

.card-image-container::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: .44rem;
    border-bottom-right-radius: .44rem;
}

/* Tab bar */

.tab-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: .6rem 2rem 2rem;
    width: 100%;
    border-top: 1px solid #ddd;
    background-color: #fff;
}

.tab-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-item, .tab-item:hover {
    text-decoration: none;
    color: currentColor;
}

.tab-item.active {
    font-weight: 400;
    color: var(--primary);
}

.tab-icon {
    font-size: 1.8rem;
    margin-bottom: .2rem;
}

.tab-caption {
    font-size: .7rem;
}