---
layout: default
title: Résultats
permalink: /uploads/woman
tab: uploads
back: /uploads/
---

<div class="p-3">
    <div>
        <img class="w-100 mb-4"
             src="{{ site.baseurl }}/images/woman/screenshot_square.png">
    </div>

    <h4 class="mb-3">Éléments trouvés</h4>

    {% for category in site.data.results_woman %}
    <h6 class="mt-4 mb-2 text-uppercase">{{ category.title }}</h6>
    {% for item in category.items %}
    <a class="card flex-row mb-3 text-body" href="{{ item.link }}">
        <div class="card-body">
            <h6 class="card-title mb-1 text-truncate">{{ item.title }}</h6>
            <p class="small mb-3 font-weight-normal text-uppercase">{{ item.brand }}</p>
            <h6 class="card-subtitle font-weight-normal text-muted">
                {{ item.price }} €
            </h6>
        </div>
        <div class="card-image-container">
            <img class="card-image"
                 src="{{ site.baseurl }}/images/woman/{{ item.image }}">
        </div>
    </a>
    {% endfor %}
    {% endfor %}
</div>
