<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/touch-icon-iphone.png">
    <link rel="apple-touch-startup-image" href="{{ site.baseurl }}/images/launch.png">

    <!-- Web App Manifest -->
    <link rel="manifest" href="{{ site.baseurl }}/manifest.json">

    <link rel="icon" type="image/png"
          href="{{ site.baseurl }}/images/favicon.png">

    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- Custom style -->
    <link rel="stylesheet" type="text/css"
          href="{{ site.baseurl }}/css/main.css">

    {% if page.style %}
    <!-- Specific page style -->
    <link rel="stylesheet" type="text/css"
          href="{{ site.baseurl }}/css/{{ page.style }}.css">
    {% endif %}
</head>
