.target {
    --target-color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    color: #212529;
    background-color: var(--target-color);
    border-radius: 50%;
}

.target::after {
    content: attr(data-label);
    max-width: 10rem;
    white-space: nowrap;
    margin-left: 30px;
    padding: 0 .3rem;
    color: currentColor;
    background-color: inherit;
    border-radius: 4px;
}

.target-red {
    color: #fff;
    --target-color: #c66566;
}
